/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

.pointAndLineFunctionInteraction {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border : 6px solid #f5f3f2;
}

.pointAndLineFunctionInteraction .prompt {margin-bottom:20px;}
.pointAndLineFunctionInteraction .shape-panel {position:relative; display: inline-block; width: 100%;}
.pointAndLineFunctionInteraction .shape-panel .shape-container {float:left; margin-left:30px;}
.pointAndLineFunctionInteraction .shape-panel .shape-controls {float:left; margin-bottom:20px;}
.pointAndLineFunctionInteraction .shape-panel .shape-controls button {width:150px; margin:3px 0; display:none;}
.pointAndLineFunctionInteraction .shape-panel .shape-controls button.available {display:block;}
