#creator-graphPointLineGraphInteraction-available-graphs {padding-top:10px;}

.item-editor-sidebar .tool-group .panel.creator-graphPointLineGraphInteraction-range h3 {display:block; padding-bottom: 8px;}
.item-editor-sidebar .tool-group .panel.creator-graphPointLineGraphInteraction-range label {display:inline;}
.item-editor-sidebar .tool-group .panel.creator-graphPointLineGraphInteraction-range .incrementer-ctrl-wrapper {margin:0 5px;}

.item-editor-sidebar .tool-group .panel.creator-graphPointLineGraphInteraction-spinner .incrementer-ctrl-wrapper {float:right; top:-5px;}

.item-editor-sidebar .tool-group .equation-scoring label{max-width: 170px;}
