/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

.pointAndLineFunctionInteraction {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border : 6px solid #f5f3f2;
}

.pointAndLineFunctionInteraction .shape-controls .clearfix {
    overflow: auto;
}

.pointAndLineFunctionInteraction .shape-panel {position:relative; display: inline-block; width: 100%;}

.pointAndLineFunctionInteraction .shape-panel .templates {display:none;}

.pointAndLineFunctionInteraction .shape-panel .shape-container {float:left;}

.pointAndLineFunctionInteraction .shape-panel .shape-controls {float:left; margin-bottom:20px;}
.pointAndLineFunctionInteraction .shape-panel .shape-controls .button-container {width:200px; margin:3px 0; display:block; position:relative; padding: 3px;}
.pointAndLineFunctionInteraction .shape-panel .shape-controls .button-container .btn {width:150px; float:left;}
.pointAndLineFunctionInteraction .shape-panel .shape-controls .button-container .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 27.7px;
    border-color: transparent transparent transparent #266d9c;
    float:left;
    top:2px;
    position: relative;
    visibility: hidden;
}
.pointAndLineFunctionInteraction .shape-panel .shape-controls .button-container.activated .triangle{
    visibility: visible;
}
.pointAndLineFunctionInteraction .shape-panel .shape-controls .button-container .btn:hover + .triangle {opacity:.85;}

.pointAndLineFunctionInteraction .shape-panel .shape-controls .button-container .line-styles {display:none; margin-top:30px; padding:10px;width:150px;border: solid 3px #EFEFEF;}
.pointAndLineFunctionInteraction .shape-panel .shape-controls .button-container .line-style {display:inline-block; margin-left:3px;}
.pointAndLineFunctionInteraction .shape-panel .shape-controls .button-container svg {top:5px;}

.pointAndLineFunctionInteraction .shape-panel .shape-controls .button-container.deactivated .btn {background : #AFB4BB !important; text-shadow:none;}
.pointAndLineFunctionInteraction .shape-panel .shape-controls .button-container.deactivated .btn:hover {opacity:1; cursor:default;}

.pointAndLineFunctionInteraction .scene-text {
    user-select: none;
}
.pointAndLineFunctionInteraction .line {
    pointer-events: none;
}
