.item-editor-sidebar .tool-group .panel .panel.passage-form {position : relative; margin : 5px 0px; padding : 8px; border:1px solid #DDD; border-radius:2px;background-color:#EEE;}
.item-editor-sidebar .tool-group .panel .panel.passage-form .passage-button-delete {position: absolute; top: 8px; right: 8px; cursor: pointer; font-size: 1.3rem;}
.item-editor-sidebar .tool-group .panel .panel.passage-form .passage-size {display:none;}

.page-adder {position:absolute; bottom:-8px; width:100%;}
.page-adder .line{position:absolute; border-top:dashed 1px #266D9C;top:10px;width:100%;}
.page-adder .circle {
    display:block;
    width: 20px;
    height: 20px;
    background: #266D9C; 
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    border-radius: 30px;
    position:absolute;
    margin-left:50%;
    margin-right:50%;
}
.page-adder .circle span{
    font-weight: bold;
    font-size:14px;
    color:#E6EEF4;
    position:absolute;
    top:-1px;
    left:6px;
}
.page-adder .circle:hover{opacity:.7; cursor:pointer;}

