.item-editor-sidebar .tool-group .panel.creator-pointAndLineFunctionInteraction h3 {display:block; padding-bottom: 8px;}
.item-editor-sidebar .tool-group .panel.creator-pointAndLineFunctionInteraction label {display:inline;}
.item-editor-sidebar .tool-group .panel.creator-pointAndLineFunctionInteraction .incrementer-ctrl-wrapper {margin:0 5px;}

#creator-pointAndLineFunctionInteraction-available-graphs h3{display:block;}
#creator-pointAndLineFunctionInteraction-available-graphs .more {font-size:16px; font-weight: bold; margin-left: 3px; color:black;display:none;}
#creator-pointAndLineFunctionInteraction-available-graphs .more:hover {text-decoration: none; color:#666;}

#creator-pointAndLineFunctionInteraction-available-graphs .sidebar-popup .panel {margin-bottom:3px; min-width:180px; position:relative; min-height: 36px;}
#creator-pointAndLineFunctionInteraction-available-graphs .sidebar-popup .color-trigger {height : 24px; position:relative; float:none; top:6px;}
#creator-pointAndLineFunctionInteraction-available-graphs .sidebar-popup .lineStyleToggle {display:inline-block; width:100px;}
#creator-pointAndLineFunctionInteraction-available-graphs .sidebar-popup .lineStyleToggle ~ .icon-checkbox{margin-left:-5px;}