.item-editor-sidebar .tool-group .panel.creator-pointAndLineFunctionInteraction h3 {display:block; padding-bottom: 8px;}
.item-editor-sidebar .tool-group .panel.creator-pointAndLineFunctionInteraction label {display:inline;}
.item-editor-sidebar .tool-group .panel.creator-pointAndLineFunctionInteraction .incrementer-ctrl-wrapper {margin:0 5px;}

#creator-pointAndLineFunctionInteraction-available-graphs h3{display:block;}
#creator-pointAndLineFunctionInteraction-available-graphs .more {font-size:16px; font-weight: bold; margin-left: 3px; color:black;display:none;}
#creator-pointAndLineFunctionInteraction-available-graphs .more:hover {text-decoration: none; color:#666;}