/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

.multiTabbedExhibit {
    width: 100%;
    margin: 20px 0;
    padding : 5px;
}

.multiTabbedExhibit .prompt {margin-bottom:20px;}

.multiTabbedExhibit .templates {display:none;}

.multiTabbedExhibit .passage {min-height: 100px;}
.multiTabbedExhibit .passage240 .frame, .multiTabbedExhibit .passage240 .scrollbar {height:240px;}
.multiTabbedExhibit .passage440 .frame, .multiTabbedExhibit .passage440 .scrollbar  {height:440px;}
.multiTabbedExhibit .passage540 .frame, .multiTabbedExhibit .passage540 .scrollbar  {height:540px;}

.frame { padding: 0; width: 100%;}
.frame .slidee { margin: 0;}

.scrollbar { width: 10px; position:absolute; right:-7px; top:0; }
.scrollbar .handle {
    width: 100%;
    height: 80px; /* overriden if dynamicHandle: 1 */
    cursor:pointer;
}
.scrollbar .handle .cursor{
    background: #266D9C;
    width:7px;
    height:100%;
    right:0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.passage-paging, .passage-scrolling {
    position:relative;
}

.passage {margin : 10px 0;}

.passage-paging .frame {background:#EFEFEF;}
.passage-paging .frame .pages { margin: 0; padding: 10px; list-style: none; border:#CCC;}
.passage-paging .frame .pages .page {margin: 16px 10px; padding: 10px; background:white;}
.passage-paging .frame .pages li.page.shadowed {
    -moz-box-shadow: 0px 0px 5px 2px #aaa;
    -webkit-box-shadow: 0px 0px 5px 2px #aaa;
    -o-box-shadow: 0px 0px 5px 2px #aaa;
    box-shadow: 0px 0px 5px 2px #aaa;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#aaa, Direction=NaN, Strength=5);
}
.passage-paging .page-header, .page-footer {position:relative; min-height:2rem;}
.passage-paging .page-header {margin-bottom: 12px;}
.passage-paging .page-header .page-number {position:absolute;right:0px;font-weight: bold; font-size:1.8rem;}
.passage-paging .page-content {padding:0 20px; min-height:100px;}

.passage-paging .passage-pager {position:relative; border:solid 0 #CCC; border-top-width: 1px;}
.passage-paging .passage-pager:after {clear:both; content:""; display:table;}
.passage-paging .passage-pager button {width:96px;}
.passage-paging .passage-pager .passage-pager-previous {position:absolute; top:3px; left:3px;}
.passage-paging .passage-pager .passage-pager-next {position:absolute; top:3px; right:3px;}
.passage-paging .passage-pager .passage-pager-counter {text-align:center; padding:5px 6px; font-weight: bold;font-size:1.5rem;}
.passage-paging .passage-pager .passage-pager-counter span {margin:0 3px;}
.passage-paging .disabled {cursor:default !important;}

.passage-scrolling, .passage-paging {border:solid 1px #CCC;}
.passage-scrolling .passage-content {padding:1rem;}

/*tab style*/
ul.passages-tab-navigation {
    box-sizing: border-box;
    width:100%;
    line-height: 20px;
    padding:0;
    margin:0;
    list-style: none;
    border-bottom:1px solid #DDD;
}
ul.passages-tab-navigation:after, ul.passages-tab-navigation:before{ content:""; display:table;}
ul.passages-tab-navigation:after {clear:both;}

ul.passages-tab-navigation li {
    margin-bottom:-1px;
    float:left;
    position: relative;
}
ul.passages-tab-navigation li a {
    display: block;
    padding: 8px 12px;
    border-width: 1px 1px 0px;
    border-style: solid;
    border-color: transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: #1D8ACB;
    text-decoration: none;
    border-radius: 4px 4px 0px 0px;
    text-shadow: 0px 1px 0px white;
    cursor:pointer;
    outline: 0px none;
}

ul.passages-tab-navigation li:not(.passages-tab-active) a:hover {
    border-color: #DDD;
    background: #F1F1F1;
    color: #0B5F90;
    outline: 0px none;
    margin-bottom: 1px;
    padding-bottom: 7px;
}

ul.passages-tab-navigation > li:nth-child(n+2) > a {margin-left: 3px;}

ul.passages-tab-navigation li.passages-tab-active a{
    border-color: #DDD #DDD transparent;
    color: #666;
    background: white;
    cursor:default;
}