#creator-graphFunctionInteraction-available-graphs {padding-top:10px;} 
.item-editor-sidebar .tool-group .panel.creator-graphFunctionInteraction h3 {display:block; padding-bottom: 8px;}
.item-editor-sidebar .tool-group .panel.creator-graphFunctionInteraction label {display:inline;}