/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

.graphFunctionInteraction {
    width:100%;
    padding:30px 30px 50px;
    margin:20px 0;
    padding:20px;
    border : 6px solid #f5f3f2;
}

.graphFunctionInteraction .prompt {margin-bottom:20px;}
.graphFunctionInteraction .shape-panel {position:relative; display: inline-block; width: 100%;}
.graphFunctionInteraction .shape-panel .shape-container {float:left; margin-left:30px;}
.graphFunctionInteraction .shape-panel .shape-controls {float:left; margin-bottom:20px;}
.graphFunctionInteraction .shape-panel .shape-controls button {width:150px; margin:3px 0; display:none;}
.graphFunctionInteraction .shape-panel .shape-controls button.available {display:block;}