/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

.fractionModelInteraction{
    width:100%;
    padding:30px 30px 50px;
    margin:20px 0;
}

.fractionModelInteraction .prompt {position:relative;}

.fractionModelInteraction .likert-label {min-width:90px; color: #444;}
.fractionModelInteraction .likert-label-min {text-align: right;}
.fractionModelInteraction .likert-label-max {text-align: left;}

.fractionModelInteraction .shape-title {margin: 0;}
.fractionModelInteraction .shape-controls {margin-left: 20px;}