/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

.fractionModelInteraction{
    width:100%;
    padding:30px 30px 50px;
    background-color:#f5f3f2;
    margin:20px 0;
}

.fractionModelInteraction ul.likert{
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

.fractionModelInteraction ul.likert li{
    float: left;
    text-align: left;
    list-style-type: none;
}

.fractionModelInteraction ul.likert li input{margin: 0 3px;}

.fractionModelInteraction .prompt {position:relative;}

.fractionModelInteraction .likert-label {min-width:90px; color: #444;}
.fractionModelInteraction .likert-label-min {text-align: right;}
.fractionModelInteraction .likert-label-max {text-align: left;}

.fractionModelInteraction .shape-container {padding-top : 10px;}

.fractionModelInteraction .shape-controls {margin-left: 20px;}