/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */

.graphPointLineGraphInteraction {
    width:100%;
    padding:30px 30px 50px;
    margin:20px 0;
    padding:20px;
    border : 6px solid #f5f3f2;
}

.graphPointLineGraphInteraction .shape-panel {position:relative; display: inline-block; width: 100%;}
.graphPointLineGraphInteraction .shape-panel .shape-container {float:left; margin-left:30px;}
